<template>
  <f7-page
    infinite
    :infinite-distance="50"
    :infinite-preloader="showPreloader"
    @infinite="loadMore"
  >
    <f7-navbar>
        <f7-nav-left>
            <f7-link class="panel-open" open-panel="left" icon="fa fa-bars"></f7-link>
        </f7-nav-left>
        <div class="title">Complaintsss</div>
    </f7-navbar>
    <f7-list>
      <f7-list-item v-for="(item, index) in items" :title="`Item ${item.name}`" :key="index"></f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
  export default {
    data() {
      return {
        items: [],
        allowInfinite: true,
        showPreloader: true,
      };
    },
    mounted() {
      console.log('lol');
      this.$f7ready((f7) => {
        f7.reques.get("https://pokeapi.co/api/v2/pokemon/?limit=151", function(data){
            this.items = data.results;
            console.log(data);
        })
      });
    },
    methods: {
      loadMore() {
        const self = this;
        if (!self.allowInfinite) return;
        self.allowInfinite = false;

        setTimeout(() => {
          if (self.items.length >= 200) {
            self.showPreloader = false;
            return;
          }

          const itemsLength = self.items.length;

          for (let i = 1; i <= 20; i += 1) {
            self.items.push(itemsLength + i);
          }

          self.allowInfinite = true;
        }, 1000);
      },
    },
  };
</script>
