<template>
    <f7-list class="components-list">
        <f7-list-item link="/complaint/" title="Complaint" panel-close>
          <f7-icon slot="media" icon="fa fa-list fa-fw"></f7-icon>
      </f7-list-item>
      <f7-list-item link="/hearing/" title="Hearing" panel-close>
          <f7-icon slot="media" icon="fa fa-calendar fa-fw"></f7-icon>
      </f7-list-item>
      <f7-list-item link="/account/" title="Account" panel-close>
          <f7-icon slot="media" icon="fa fa-user fa-fw"></f7-icon>
      </f7-list-item>
      <!-- <f7-list-item link="/login/" title="Login" panel-close>
          <f7-icon slot="media" icon="fa fa-login fa-fw"></f7-icon>
      </f7-list-item>
      <f7-list-item link="/register/" title="Register" panel-close>
          <f7-icon slot="media" icon="fa fa-regiter fa-fw"></f7-icon>
      </f7-list-item> -->
    </f7-list>
</template>
<script>
  export default {
    
  };
</script>
