<template>
  <f7-page style="background: #02b9fc">
    <f7-block-title style="color: #fff"><h1 style="text-align: center">E Blotter Manager<br><br><br>Login</h1></f7-block-title>
    <f7-block>
      <form method="POST" class="list form-login form-store-data" v-on:submit.prevent="onLogin">
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-media">Username </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-input-wrap">
                <input type="text" name="username">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-media">Password </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-input-wrap">
                <input type="password" name="password">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <button type="submit" class="button button-big button-fill button-outline button-round-md">Login</button>
          </li>
          <li class="item-content item-input">
            <f7-link @click="$f7router.navigate('/register/')" style="margin: 0px auto;color:#fff">
              Register Account
            </f7-link>
          </li>
        </ul>
      </div>
      </form>
    </f7-block>
  </f7-page>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
   computed: {
      ...mapState({
          user: state => state.user
      })
    },
		methods: {
			onLogin: function() {
        
				const self = this;
        const $$ = this.Dom7;
        const app = this.$f7;
        const to = this.$f7router;
        const api = 'https://blotter.rldwebshop.xyz/api/v1/login';
        const formData = new FormData($$('.form-login')[0]);

        app.dialog.preloader('Logging in ...');

        app.request({
          url: api,
          method: 'POST',
          headers: {'Accept': 'application/json'},
          data: formData,
          success: function(data){
            app.dialog.close();
            // Set new user into storage
            console.log(JSON.parse(data));
            self.userLogged(JSON.parse(data));
            to.navigate('/');
          },
          statusCode: {
            422: function(xhr) {
              app.dialog.close();
              app.dialog.alert('Invalid Credentials!', 'Invalid');
            },
          },
          error: function(xhr, status) {
            app.dialog.close();
            app.dialog.alert('Server Error.', 'Error');
          }
        });
			},
      ...mapActions(['userLogged'])
    }
};
</script>
