<template>
  <f7-page>
    <f7-navbar title="Account" back-link="Back" sliding></f7-navbar>
    <f7-block>
      <f7-list>
        <f7-list-item>
          <div>
            <p>Username: <b v-html="item.username"></b></p>
          </div>
        </f7-list-item>
        <f7-list-item>
            <button class="button button-big button-fill button-outline button-round-md" @click="logOutAction">Logout</button>
        </f7-list-item>
      </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
import store from '../../../vuex/storage'
import { mapState, mapActions } from 'vuex'

  export default {
  	computed: {
        ...mapState({
            user: state => state.user
        })
    },
    data () {
     return {
       item: store.state.user,
       showPreloader: false,
     }
   },
		methods: {
			logOutAction: function() {
        const to = this.$f7router;
        console.log(store.state.user);
				const self = this;
				// Set new user into storage
        self.userLogged({});
        to.navigate('/', {'force': true});
			},
			...mapActions(['userLogged'])
		}
  };
</script>
