<template>
  <f7-page>
    <f7-navbar title="Add New Complaint" back-link="Back"></f7-navbar>
    <f7-block>
    <form method="POST" class="list form-add form-store-data" v-on:submit.prevent="onStore">
      <ul>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Complainant</div>
            <div class="item-input-wrap">
              <input name="complainant" type="text" placeholder="Complaint Name">
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Complainant Age</div>
            <div class="item-input-wrap">
              <input name="complainant_age" type="text" placeholder="Complainant Age">
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Complainant Address</div>
            <div class="item-input-wrap">
              <input name="complainant_address" type="text" placeholder="Complainant Address">
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Respondent</div>
            <div class="item-input-wrap">
              <input name="respondent" type="text" placeholder="Respondent Name">
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Respondent Age</div>
            <div class="item-input-wrap">
              <input name="respondent_age" type="text" placeholder="Respondent Age">
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Respondent Address</div>
            <div class="item-input-wrap">
              <input name="respondent_address" type="text" placeholder="ComplRespondentainant Address">
              <span class="input-clear-button"></span>
            </div>
          </div>
        </li>
        <li class="item-content item-input">
          <div class="item-inner">
            <div class="item-title item-label">Statement</div>
            <div class="item-input-wrap">
              <textarea name="statement" class="resizable" placeholder="Statement"></textarea>
            </div>
          </div>
        </li>
        <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Evidence (Optional)</div>
              <div class="item-input-wrap">
                <input name="evidence[]" type="file" multiple>
              </div>
            </div>
        </li>
        <li class="item-content item-input">
            <button class="button button-big button-fill button-outline button-round-md">Submit</button>
        </li>
      </ul>
    </form>
    </f7-block>
  </f7-page>
</template>
<script>
import store from '../../../vuex/storage'

  export default {
    data() {
      return {
        item: {},
        showPreloader: true,
        user: store.state.user
      }
    },
    methods: {
      onStore() {
        const self = this;
        const $$ = this.Dom7;
        const app = this.$f7;
        const to = this.$f7router;
        const id = this.$f7route.params.id;
        const api = 'https://blotter.rldwebshop.xyz/api/v1/complaint/store/?user='+self.user.id;
        const formData = new FormData($$('.form-add')[0]);

        app.dialog.preloader('Adding New Complaint');

        app.request({
          url: api,
          method: 'POST',
          data: formData,
          contentType:'multipart/form-data',
          processData: true,
          headers: {'Accept': 'application/json'},
          success: function(data){
            app.dialog.close();
            app.dialog.alert('Successfully Added!', 'Added');
            to.back('/', {'force' : true, ignoreCache: true});
          },
          statusCode: {
            422: function(xhr) {
              app.dialog.close();
              app.dialog.alert('All fields required.!', 'Invalid!');
            },
            302: function(xhr) {
              app.dialog.close();
              app.dialog.alert('All fields required.!', 'Invalid!');
            }
          },
          error: function(xhr, status) {
            app.dialog.close();
            app.dialog.alert('All fields required.!', 'Error!');
          }
        });
      }
    }
  };
</script>
