<template>
  <f7-page ptr @ptr:refresh="refresh">
    <f7-navbar title="Edit Details" back-link="back"></f7-navbar>
    <f7-block class="row text-align-center" v-if="showPreloader">
      <f7-col>
        <f7-preloader></f7-preloader>
      </f7-col>
    </f7-block>
    <f7-block v-if="!showPreloader">
      <form method="POST" class="list form-edit form-store-data" v-on:submit.prevent="onUpdate">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Complainant</div>
              <div class="item-input-wrap">
                <input name="complainant" type="text" placeholder="Complaint Name" :value="item.complainant">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Complainant Age</div>
              <div class="item-input-wrap">
                <input name="complainant_age" type="text" placeholder="Complainant Age" :value="item.complainant_age">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Complainant Address</div>
              <div class="item-input-wrap">
                <input name="complainant_address" type="text" placeholder="Complainant Address" :value="item.complainant_address">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Respondent</div>
              <div class="item-input-wrap">
                <input name="respondent" type="text" placeholder="Respondent Name" :value="item.respondent">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Respondent Age</div>
              <div class="item-input-wrap">
                <input name="respondent_age" type="text" placeholder="Respondent Age" :value="item.respondent_age">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Respondent Address</div>
              <div class="item-input-wrap">
                <input name="respondent_address" type="text" placeholder="Respondentt Address" :value="item.respondent_address">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Statement</div>
              <div class="item-input-wrap">
                <textarea name="statement" class="resizable" placeholder="Statement" :value="item.statement"></textarea>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Evidence (Optional)</div>
              <div class="item-input-wrap">
                <input name="evidence[]" type="file" multiple>
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <button type="submit" class="button button-big button-fill button-outline button-round-md">Update</button>
          </li>
        </ul>
      </form>
    </f7-block>
  </f7-page>
</template>
<script>
import store from '../../../vuex/storage'
  export default {
    data() {
      return {
        item: {},
        showPreloader: true,
        item_id: this.$f7route.params.id,
        user: store.state.user
      }
    },
    mounted() {
      this.getItem();
    },
    methods: {
      refresh(event, done) {
        this.getItem();
        done();
      },
      getItem() {
        const self = this
        const id = this.$f7route.params.id;

        this.$root.$f7.request.json('https://blotter.rldwebshop.xyz/api/v1/'+id+'/complaint/edit/?user='+self.user.id, function(data){
          self.item = data[0];
          self.showPreloader = false;
        });
      },
      onUpdate() {
        const self = this;
        const $$ = this.Dom7;
        const app = this.$f7;
        const to = this.$f7router;
        const id = this.$f7route.params.id;
        const api = 'https://blotter.rldwebshop.xyz/api/v1/'+id+'/complaint/update/?user='+self.user.id;
        const formData = new FormData($$('.form-edit')[0]);

        app.dialog.preloader('Updating Complaint');

        app.request({
          url: api,
          method: 'POST',
          data: formData,
          contentType:'multipart/form-data',
          processData: true,
          headers: {'Accept': 'application/json'},
          success: function(data){
            app.dialog.close();
            app.dialog.alert('Successfully updated!', 'Updated');
            to.back('/show/'+id+'/', {'force' : true, ignoreCache: true});
          },
          statusCode: {
            422: function(xhr) {
              app.dialog.close();
              app.dialog.alert('All fields required.!', 'Invalid!');
            },
            302: function(xhr) {
              app.dialog.close();
              app.dialog.alert('All fields required.!', 'Invalid!');
            }
          },
          error: function(xhr, status) {
            app.dialog.close();
            app.dialog.alert('All fields required.!', 'Error!');
          }
        });
      }
    },
  };
</script>
