<template>
  <f7-page
    infinite
    :infinite-distance="50"
    :infinite-preloader="showPreloader"
    @infinite="loadMore" 
    ptr @ptr:refresh="refresh"
  >
    <f7-navbar>
        <f7-nav-left>
            <f7-link class="panel-open" open-panel="left" icon="fa fa-bars"></f7-link>
        </f7-nav-left>
        <div class="title">Complaints</div>
    </f7-navbar>
    <f7-list>
      <f7-list-item v-if="nodata">
        <div>
          <p>No Complaints yet!</p>
        </div>
      </f7-list-item>
      <f7-list-item v-for="item in items" 
      :title="item.complainant" 
      :key="item.id" 
      :link="`/show/${item.id}/`">
      </f7-list-item>
    </f7-list>
    <f7-fab position="right-top" slot="fixed" color="blue">
      <f7-link @click="$f7router.navigate('/add/')">
        <b style="color: #fff">New</b>
      </f7-link>
    </f7-fab>
  </f7-page>
</template>
<script>
import store from '../../../vuex/storage';

  export default {
    data() {
      return {
        items: [],
        allowInfinite: true,
        showPreloader: true,
        nodata: false,
        user: store.state.user
      };
    },
    mounted() {
      this.getItems();
    },
    methods: {
      refresh(event, done) {
        this.getItems();
        done();
      },
      getItems(event, done) {
        const self = this;

        this.$root.$f7.request.json('https://blotter.rldwebshop.xyz/api/v1/complaint?user='+self.user.id, function(data){
          self.items = data;
          if(data.length < 10){ self.showPreloader = false; }
          if(data.length == 0){ self.nodata = true; }
        });
      },
      loadMore() {
        const self = this;

        if (!self.allowInfinite) return;
        self.allowInfinite = false;

        setTimeout(() => {
          if (self.items.length > 10) {
            self.showPreloader = false;
            return;
          }

          const itemsLength = self.items.length;

          this.$root.$f7.request.json('https://blotter.rldwebshop.xyz/api/v1/complaint/?offset='+itemsLength+'&user='+self.user.id, function(data){
            if(data.length == 0){ self.showPreloader = false; }
            for (let i = 0; i < data.length; i++) {
              self.items.push(data[i]);
            }
          });

          self.allowInfinite = true;
        }, 1000);
      },
    }
  };
</script>
