<template>
  <f7-page ptr @ptr:refresh="refresh">
    <f7-navbar title="Complaint Details" back-link="Back" sliding></f7-navbar>
    <f7-block class="row text-align-center" v-if="showPreloader">
      <f7-col>
        <f7-preloader></f7-preloader>
      </f7-col>
    </f7-block>
    <f7-block v-if="!showPreloader">
      <label>Complainant</label>
      <b><p>{{item.complainant}}</p></b>
      <label>Complainant Age</label>
      <b><p>{{item.complainant_age}}</p></b>
      <label>Complainant Address</label>
      <b><p>{{item.complainant_address}}</p></b>
      <label>Respondent</label>
      <b><p>{{item.respondent}}</p></b>
      <label>Respondent Age</label>
      <b><p>{{item.respondent_age}}</p></b>
      <label>Respondent Address</label>
      <b><p>{{item.respondent_address}}</p></b>
      <label>Statement</label>
      <div v-html="item.statement"></div>
      <f7-row v-if="photos">
        <f7-col>
          <f7-photo-browser
            :photos="photos"
            theme="dark"
            type="popup"
            ref="popupDark"
            v-if="photos.length != 0"
          ></f7-photo-browser>
          <f7-button raised @click="$refs.popupDark.open()">View Uploaded file</f7-button>
        </f7-col>
      </f7-row>
    </f7-block>
    <f7-fab position="right-top" slot="fixed" color="blue">
      <f7-link @click="$f7router.navigate('/edit/'+item.id+'/')">
        <b style="color: #fff">Edit</b>
      </f7-link>
    </f7-fab>
    <f7-fab @click="onDelete" position="right-bottom" slot="fixed" color="red">
      <f7-link>
        <b style="color: #fff">Delete</b>
      </f7-link>
    </f7-fab>
  </f7-page>
</template>
<script>
import store from '../../../vuex/storage'
 export default {
   data() {
     return {
       item: {},
       showPreloader: true,
       photos: [],
       user: store.state.user
     }
   },
   mounted() {
    this.getItem();
   },
   methods: {
      refresh(event, done) {
        this.getItem();
        done();
      },
     getItem() {
        const self = this;
        const id = this.$f7route.params.id;
        this.$root.$f7.request.json('https://blotter.rldwebshop.xyz/api/v1/'+id+'/complaint/show/?user='+self.user.id, function(data){
          self.item = data[0];
          self.showPreloader = false;
          self.photos = (data.length != 0) ? (data[0].file) ? JSON.parse(data[0].file) : false : [];
        });
     },
     onDelete() {
      const self = this;
      const to = this.$f7router;
      const app = this.$root.$f7;
      const id = this.$f7route.params.id;
      app.dialog.confirm('Are you sure you want to delete this item ?','Confirm Delete', function () {
        this.showPreloader = true;
        app.request.post('https://blotter.rldwebshop.xyz/api/v1/'+id+'/complaint/delete/?user='+self.user.id, function(data){
          app.dialog.alert('Successfully Deleted!','Deleted');
          to.back('/', {'force' : true, ignoreCache: true});
        });
      });
     }
   }
  };
</script>
