<template>
  <f7-page
    infinite
    :infinite-distance="50"
    :infinite-preloader="showPreloader"
    @infinite="loadMore" 
    ptr @ptr:refresh="refresh"
  >
    <f7-navbar title="Hearing" back-link="Back"></f7-navbar>
    <f7-list>
      <f7-list-item v-if="nodata">
        <div>
          <p>No Hearings yet!</p>
        </div>
      </f7-list-item>
      <f7-list-item v-for="item in items" 
      :key="item.id" >
        <div>
        <p>Hearing Date: {{item.date}}</p>
        <p>Hearing Time: {{item.time}}</p>
        <p>Hearing Status: {{item.status}}</p>
        </div>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
import store from '../../../vuex/storage';

  export default {
    data() {
      return {
        items: [],
        allowInfinite: true,
        showPreloader: true,
        nodata: false,
        user: store.state.user
      };
    },
    mounted() {
      this.getItems();
    },
    methods: {
      refresh(event, done) {
        this.getItems();
        done();
      },
      getItems() {
        const self = this;
        this.$root.$f7.request.json('https://blotter.rldwebshop.xyz/api/v1/hearing?user='+self.user.id, function(data){
          self.items = data;
          if(data.length == 0){ self.nodata = true; }
          if(data.length < 10) { self.showPreloader = false; }
        });
      },
      loadMore() {
        const self = this;

        if (!self.allowInfinite) return;
        self.allowInfinite = false;

        setTimeout(() => {
          if (self.items.length > 10) {
            self.showPreloader = false;
            return;
          }

          const itemsLength = self.items.length;

          this.$root.$f7.request.json('https://blotter.rldwebshop.xyz/api/v1/hearing/?offset='+itemsLength+'&user='+self.user.id, function(data){
            if(data.length == 0){ self.showPreloader = false; }
            for (let i = 0; i < data.length; i++) {
              self.items.push(data[i]);
            }
          });

          self.allowInfinite = true;
        }, 1000);
      },
    }
  };
</script>
